@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@media screen and (max-width: 1400px) {
  main #restOfBody .content #form_container {
    width: 80vw;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
  }
  main #restOfBody .content #form_container #contact_info {
    font-family: "Dosis", sans-serif;
    color: #f5f9ff;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 2px solid #555555;
  }
  main #restOfBody .content #form_container #contact_info div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px;
    border-bottom: 2px solid #555555;
  }
  main #restOfBody .content #form_container #contact_info i {
    color: #ffa500;
    font-size: 50px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  main #restOfBody .content #form_container #contact_info i:hover {
    -webkit-transform: scale(1.1) rotate(3deg);
            transform: scale(1.1) rotate(3deg);
    color: #ff6600;
  }
  main #restOfBody .content #form_container #form_container {
    width: 80vw;
    padding: 20px;
  }
  main #restOfBody .content #form_container #form_container #contact_info div {
    font-size: 24px;
    margin: 20px 10px;
  }
  main #restOfBody .content #form_container #form_container #contact_info i {
    font-size: 34px;
  }
  main #restOfBody .content #form_container #form_container #form_holder {
    font-size: 20px;
    padding: 20px;
  }
  main #restOfBody .content #form_container #form_container #form_holder form span {
    color: #ff0000;
    font-size: 22px;
  }
  main #restOfBody .content #form_container #form_container #form_holder form p {
    padding: 5px 0px;
  }
  main #restOfBody .content #form_container #form_container #form_holder form div {
    margin-bottom: 15px;
  }
  main #restOfBody .content #form_container #form_container #form_holder form div #name, main #restOfBody .content #form_container #form_container #form_holder form div #e_mail, main #restOfBody .content #form_container #form_container #form_holder form div #textarea {
    height: 30px;
    font-size: 20px;
  }
  main #restOfBody .content #form_container #form_container #form_holder form div #textarea {
    min-height: 150px;
    max-height: 250px;
  }
  main #restOfBody .content #form_container #form_container #form_holder form div #submit_button, main #restOfBody .content #form_container #form_container #form_holder form div #reset_button {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
  }
}
/*# sourceMappingURL=responsive_pc_to_laptop.css.map */