@import './responsive_tablet_mid_phone';

@mixin customNavFontPhoneL{
    @include customFontZCool();
    font-size: 27px;
}
@mixin custonNameFontPhoneL{
    @include customFontZCool();
    font-size: 37px;
}
@mixin customHeadFont1PhoneL{
    @include customFontZCool();
    font-size: 48px;
}
@mixin customHeadFont2PhoneL{
    @include customFontZCool();
    font-size: 30px;
}
@mixin customHeadLinkPhoneL{
    @include customHeadFont2();
    color: #ffa500;
    text-decoration: none;
    font-size: 35px;
}
@mixin progressBarFillingPhoneL{
    background-size: 36.57px 36.57px;
    height: 12px;
    border-radius: 6px;
    animation: gradient_fill_animation 12s linear infinite;
    background-image: linear-gradient(
        45deg,
    #f2ff00 25%,
    #ff7b00 25%,
    #ff7b00 50%,
    #f2ff00 50%,
    #f2ff00 75%,
    #ff7b00 75%,
    #ff7b00 100%
    );
}

@media screen and (max-width: 426px){
    header{
        #logo{
            height: 90px;
        }
        #main_nav{
            display: none;
        }
        height: 20vh;
        #sandwich_button{
            display: block;
            #header_sandwich_dropdown{
                z-index: 1;
                opacity: 0;
                display: none;
                width: 100%;
                background-color: rgba(24, 26, 27, 0.9);
                border-bottom: 2px solid rgba(24, 26, 27, 0.9);
                top: 20vh;
                position: absolute;
                justify-content: center;
                #sandwich_nav{
                    ul{
                        li{
                            padding: 10px;
                            font-size: 30px;
                            text-align: center;
                            list-style-type:none;
                            a{
                                color: $standardTextColor;
                                text-decoration: none;
                                transition: 0.4s;
                                &:hover{
                                    color: #ffa500;
                                }  
                            }
                        }
                    }
                }
            }
            &:hover #header_sandwich_dropdown{
                display: flex;
                opacity: 1;
            }
        }
    }
    main{
        #mainShowcase{
            z-index: 0;
            height: 80vh;
            h1, p, a{
                width: 100%;
                margin: 20px 0px;
                text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.9);
                text-align: center;
            }
            h1{
                @include custonNameFontPhoneL();
            }
            #headText1{
                @include customHeadFont1PhoneL();
            }
            #headText2{
                @include customHeadFont2PhoneL();
            }
            #headLink{
                @include customHeadLinkPhoneL();
            }
            video{
                filter:blur(3px);
            }
        }
        #restOfBody{
            .header_holders{
                @include customHeadFont2PhoneL();
                margin: 20px 0px 5px 0px;
                width: 80vw;
                font-size: 23px;
                .head_container{
                    h2{
                        border-bottom: 2px solid #ffa500;
                    }
                }
            }
            .content{
                margin: 50px 0px 40px 0px;
                padding: 20px;
                box-shadow: none;
                #about_content_container{
                    width: 100%;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    #content_container_left{
                        width: 100%;
                        padding: 0;
                        padding-bottom: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-right: none;
                        border-bottom: 2px solid rgb(85, 85, 85);
                        div{
                            background-image: url('../images/me.jpg');
                            width: 150px;
                            height: 150px;
                            background-position: center;
                            background-size: contain;
                            border: 3px solid rgba(31, 31, 31, 0.733);
                            border-radius: 75px;
                        }
                        p{
                            margin: 3px;
                        }
                        p, span{
                            font-size: 18px;
                            width: 95%;
                        }
                        span{
                            color: #ffa500;
                            font-weight: 600;
                        }
                    }
                    #content_container_right{
                        width: 100%;
                        padding: 0;
                        .progress_block{
                            margin: 20px 0px;
                            span, i{
                                font-size: 25px;
                            }
                            p{
                                font-size: 25px;
                            }
                            .progress_bar_back{
                                width: 100%;
                                height: 12px;
                                border-radius: 6px;
                                #progress_bar_fill1, #progress_bar_fill2{
                                    @include progressBarFillingPhoneL();
                                    width: 90%;
                                }
                                #progress_bar_fill3{
                                    @include progressBarFillingPhoneL();
                                    width: 80%;
                                }
                                #progress_bar_fill4{
                                    @include progressBarFillingPhoneL();
                                    width: 75%;
                                }
                                #progress_bar_fill5{
                                    @include progressBarFillingPhoneL();
                                    width: 85%;
                                }
                            }
                        }
                    }
                }
                #form_container{
                    height: auto;
                    width: 80vw;
                    padding: 10px;
                    flex-direction: column;
                    #contact_info{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border: none;
                        div{
                            font-size: 22px;
                            margin: 5px 5px;
                            display: block;
                            text-align: center;
                            border: none;
                            p{
                                border-bottom: 2px solid rgb(85, 85, 85);
                            }
                        }
                        i{
                            font-size: 36px;
                        }
                    }
                    #form_holder{
                        width: 100%;
                        font-size: 20px;
                        padding: 50px 0px 10px 0px;
                        form{
                            span{
                                color: #ff0000;
                                font-size: 20px;
                            }
                            p{
                                padding: 5px 0px;
                            }
                            div{
                                margin-bottom: 10px;
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 15px;
                                #name, #e_mail, #textarea{
                                    height: 30px;
                                    font-size: 20px;
                                }
                                #textarea{
                                    min-height: 150px;
                                    max-height: 220px;
                                }
                                #submit_button, #reset_button{
                                    border-radius: 10px;
                                    padding: 10px;
                                    margin: 10px;
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
            }
            #skills_container{
                width: 90vw;
                .skill_block{
                    margin: 6px;
                    width: 170px;
                    height: 200px;
                    border-radius: 17px;
                    .block_style{
                        width: 100%;
                        height: 100%;
                    }
                    .desc_skill_block{
                        height: 187px;
                        border-radius: 17px;
                        padding: 5px;
                        background-color: $verydarkcolor;
                        p{
                            font-size: 14px;
                            text-align:center;
                        }
                        h3{
                            font-size: 25px;
                            margin: 3px 10px 10px 10px;
                        }
                    }
                }
            }
            #my_stats_container{
                height: 19vh;
                #stats_holder{
                    div{
                        margin: 20px;
                        width: 100px;
                        height: 100px;
                        i{
                            font-size: 70px;
                        }
                        p{
                            font-size: 19px;
                        }
                    }
                }
            }
        }
    }
}